.t1{
    width: 40%;
    height: 94vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    float: left;
    margin: 20px
}

.t2{
    width: 40%;
    height: 94vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    float: right;
    margin: 20px
}

.button-green {
    background: rgb(28, 184, 65) !important; 
    color: rgb(255, 255, 255) !important;
    position: absolute;
    top: 50%; 
    left: 45.5%;
    height: 50px;
    width: 120px;   
}

body {
    margin: 0;
}