<!DOCTYPE html>
<html>
   <head>
      <title>Online Curl - Make HTTP requests</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/static/makemecool.css">
      <link rel="stylesheet" type="text/css" href="/static/pure-min.css">
      <link rel="icon" type="image/png" href="/static/favicon-32.png" sizes="32x32" />
      <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript">
         $(function() {

           $('#curl_button').click(function(event) {
             event.preventDefault();
             $.ajax({
                 type: 'POST',
                 url: '/curl/',
                 data: $('#curl_input_form').serialize(),
                 success: function (data, textStatus) {
                      var s = " <err1xef2>";
                      if(data.indexOf(s) >= 0)
                        {
                          data = data.replace(s,"");
                          $('textarea#curl_op').css('color','red');                          
                        }
                        else
                      {
                        $('textarea#curl_op').css('color','black');
                      }  
                      $('textarea#curl_op').val(data);
                 },
                 error: function(xhr, status, e) {
                     alert("Oops! Some error occurred.");
                 }
             });
           });

           $('#curl_button_mobile').click(function(event) {
             event.preventDefault();
             $.ajax({
                 type: 'POST',
                 url: '/curl/',
                 data: $('#curl_input_form_mobile').serialize(),
                 success: function (data, textStatus) {
                      var s = " <err1xef2>";
                      if(data.indexOf(s) >= 0)
                        {
                          data = data.replace(s,"");
                          $('textarea#curl_op').css('color','red');                          
                        }
                      else
                      {
                        $('textarea#curl_op').css('color','black');
                      }  
                      $('textarea#curl_op').val(data);
                 },
                 error: function(xhr, status, e) {
                     alert("Oops! Some error occurred.");
                 }
             });
           });
     
         });
      </script>
   </head>

   <body>
       <div class="container-fluid hidden-sm hidden-xs md">
            <div class="row md" style="padding:20px;">
                <div class="col-md-5 md">
                  <form id="curl_input_form" class="md" method="post">
                       {% csrf_token %}
                       <textarea class="t1" name="curl_text" placeholder="Enter your curl here..." text="hello"></textarea>
                  </form>
                </div>
                <div class="col-md-2 md" style="align-items:center; display:flex;">  
                  <a id="curl_button" class="btn btn-primary btn-lg center-block" style="background-color: blueviolet;
                          border-color: blueviolet; width: 100%;" role="button">Make it curl</a>
                </div>
                <div class="col-md-5 md"> 
                  <textarea class="t1" id="curl_op" readonly></textarea>
                </div>  
            </div>
        </div>

        <div class="container-fluid hidden-md hidden-lg md">
            <div class="row md" style="padding-bottom:15px; padding-top:15px;">
                <div class="col-md-5 s40p">
                  <form id="curl_input_form_mobile" method="post" style="height:100%;">
                       {% csrf_token %}
                       <textarea class="t2" name="curl_text" placeholder="Enter your curl here..." text="hello"></textarea>
                  </form>
                </div>
                <div class="col-md-2 s20p" style="align-items:center; display:flex;">  
                  <a id="curl_button_mobile" class="btn btn-primary btn-lg" style="background-color: blueviolet;
                          border-color: blueviolet; width: 100%;" role="button">Make it curl</a>
                </div>
                <div class="col-md-5 s40p"> 
                  <textarea class="t2" id="curl_op" readonly></textarea>
                </div>  
            </div>
        </div>
   </body>
</html>
